@charset "utf-8";
.back{
	position: absolute;
	left: 0rpx;
	top: 0rpx;
	width:750rpx;
	height:468rpx;
	background:#1485EE;
}
.announcementco1{
	position: absolute;
	background : #777777;
	background : rgba(119, 119, 119, 1);
	left:54rpx;
	top:5rpx;
	width : 24rpx;
	height : 54rpx;
}
.announcementedge{
	position: absolute;
	left:40rpx;
	top:0rpx;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 670rpx;
	height : 510rpx;
	border-radius : 20rpx 20rpx 0rpx 0rpx;
	-moz-border-radius : 20rpx 20rpx 0rpx 0rpx;
	-webkit-border-radius : 20rpx 20rpx 0rpx 0rpx;
	box-shadow : 0rpx 6rpx 10rpx rgba(0, 0, 0, 0.14);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#000000') ;
}
.announcementco2{
	position: absolute;
	left:90rpx;
	top:5rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 270rpx;
	height : 54rpx;
}
.announcementcotext{
	position: absolute;
	left:95rpx;
	top:8rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 30rpx;
	letter-spacing : 1.2rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.announcementbubble{
		position: absolute;
		left:570rpx;
		top:469rpx;
		background : #1485EE;
		background : rgba(20, 133, 238, 1);
		width : 16px;
		height : 16px;
}
.announcementmorebutton{
	position: absolute;
	left:620rpx;
	top:469rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : normal;
	font-size : 1rpx;
	letter-spacing : 0.5rpx;
	color : #717171;
	color : rgb(109, 109, 109);
}
.announcementmorebutton:hover{
	color:rgb(0, 85, 255);
}
.announcementinfo1{
	position: absolute;
	left: 30px;
	top: 35px;
	font-size: 28rpx;
}
.announcementinfo2{
	position: absolute;
	left: 30px;
	top: 80px;
	font-size: 28rpx;
}
.announcementinfo3{
	position: absolute;
	left: 30px;
	top: 125px;
	font-size: 28rpx;
}
.announcementinfo4{
	position: absolute;
	left: 30px;
	top: 170px;
	font-size: 28rpx;
}
.announcementinfo1:hover{
	color:rgb(0, 85, 255);
}
.announcementinfo2:hover{
	color:rgb(0, 85, 255);
}
.announcementinfo3:hover{
	color:rgb(0, 85, 255);
}
.announcementinfo4:hover{
	color:rgb(0, 85, 255);
}
.updatebutton{
	position: absolute;
	left:24rpx;
	top:536rpx;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 338rpx;
	height : 180rpx;
	border-radius : 10rpx;
	-moz-border-radius : 10rpx;
	-webkit-border-radius : 10rpx;
	box-shadow : 0px 0px 12rpx rgba(0, 0, 0, 0.15);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') ;
}
.clockco1{
		border-style : Solid;
		border-color : #777777;
		border-color : rgba(119, 119, 119, 1);
		border-width : 10rpx;
		position : absolute ;
		left : 52rpx;
		top : 74rpx;
		width : 76rpx;
		height : 74rpx;
}
.clockco2{
		border-style : Solid;
		border-color : #1485EE;
		border-color : rgba(20, 133, 238, 1);
		border-width : 8rpx;
		position : absolute ;
		left : 68rpx;
		top : 88rpx;
		width : 60rpx;
		height : 60rpx;
}
.calendarbutton{
	position: absolute;
	left:388rpx;
	top:536rpx;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 338rpx;
	height : 180rpx;
	border-radius : 10rpx;
	-moz-border-radius : 10rpx;
	-webkit-border-radius : 10rpx;
	box-shadow : 0px 0px 12rpx rgba(0, 0, 0, 0.15);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') ;

}
.calendarco1{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #777777;
	border-color : rgba(119, 119, 119, 1);
	border-width : 4px;
	opacity : 0.99;
	position : absolute ;
	left : 36rpx;
	top : 68rpx;
	width : 89rpx;
	height : 60rpx;
	border-radius : 10rpx;
	-moz-border-radius : 10rpx;
	-webkit-border-radius : 10rpx;
	z-index: 800;
	filter: alpha(opacity=99) progid:DXImageTransform.Microsoft.Alpha(opacity=99) ;
}
.calendarco2{
	border-style : Solid;
	border-color : #1485EE;
	border-color : rgba(20, 133, 238, 1);
	border-width : 6rpx;
	border-radius : 10rpx;
	-moz-border-radius : 10rpx;
	-webkit-border-radius : 10rpx;
	position : absolute ;
	left : 45rpx;
	top : 78rpx;
	width : 92rpx;
	height : 62rpx;
}
.calendarco3{
		background : #777777;
		background : rgba(119, 119, 119, 1);
		border-style : Solid;
		border-color : #777777;
		border-color : rgba(119, 119, 119, 1);
		border-width : 10rpx;
		position : absolute ;
		left : 75rpx;
		top : 110rpx;
		width : 1rpx;
		height : 1rpx;
		border-radius : 2rpx;
		-moz-border-radius : 2rpx;
		-webkit-border-radius : 2rpx;
		z-index: 900;
}
.calendarco4{
		background : #1485EE;
		background : rgba(20, 133, 238, 1);
		border-style : Solid;
		border-color : #1485EE;
		border-color : rgba(20, 133, 238, 1);
		border-width : 10rpx;
		position : absolute ;
		left : 75rpx;
		top : 84rpx;
		width : 1rpx;
		height : 1rpx;
		border-radius : 2rpx;
		-moz-border-radius : 2rpx;
		-webkit-border-radius : 2rpx;
		z-index: 900;
}
.calendarco5{
		background : #777777;
		background : rgba(119, 119, 119, 1);
		border-style : Solid;
		border-color : #777777;
		border-color : rgba(119, 119, 119, 1);
		border-width : 10rpx;
		position : absolute ;
		left : 101rpx;
		top : 110rpx;
		width : 1rpx;
		height : 1rpx;
		border-radius : 2rpx;
		-moz-border-radius : 2rpx;
		-webkit-border-radius : 2rpx;
		z-index: 900;
}
.calendarco6{
	background : #777777;
	background : rgba(119, 119, 119, 1);
	border-style : Solid;
	border-color : #777777;
	border-color : rgba(119, 119, 119, 1);
	border-width : 10rpx;
	position : absolute ;
	left : 101rpx;
	top : 84rpx;
	width : 1rpx;
	height : 1rpx;
	border-radius : 2rpx;
	-moz-border-radius : 2rpx;
	-webkit-border-radius : 2rpx;
	z-index: 900;
}

.calendarco8{
	background : #777777;
	background : rgba(119, 119, 119, 1);
	border-style : Solid;
	border-color : #777777;
	border-color : rgba(119, 119, 119, 1);
	border-width : 10rpx;
	position : absolute ;
	left : 51rpx;
	top : 84rpx;
	width : 1rpx;
	height : 1rpx;
	border-radius : 2rpx;
	-moz-border-radius : 2rpx;
	-webkit-border-radius : 2rpx;
	z-index: 900;
}
.calendarco9{
	border-style : Solid;
	border-color : #777777;
	border-color : rgba(119, 119, 119, 1);
	border-width : 5rpx;
	position : absolute ;
	left : 56rpx;
	top : 56rpx;
	width : 0rpx;
	height : 20rpx;
	z-index: 900;
}
.calendarco10{
		border-style : Solid;
		border-color : #777777;
		border-color : rgba(119, 119, 119, 1);
		border-width : 5rpx;
		position : absolute ;
		left : 106rpx;
		top : 56rpx;
		width : 0rpx;
		height : 20rpx;
		z-index: 900;
}
.today{
	position: absolute;
	left:20rpx;
	top:796rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 28rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	z-index: 900;
}
.todaybubble{
	position: absolute;
	left:570rpx;
	top:905rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 16px;
	height : 16px;
}
.todaymorebutton{
	position: absolute;
	left:620rpx;
	top:905rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : normal;
	font-size : 1rpx;
	letter-spacing : 0.5rpx;
	color : #717171;
	color : rgb(109, 109, 109);
}
.todaymorebutton:hover{
	color:rgb(0, 85, 255);
}
.todayinfo1{
	position: absolute;
	left: 72px;
	top: 375px;
	font-size: 24rpx;
}
.todayinfo2{
	position: absolute;
	left: 72px;
	top: 420px;
	font-size: 24rpx;
}
.todayinfo1:hover{
	color:rgb(0, 85, 255);
}
.todayinfo2:hover{
	color:rgb(0, 85, 255);
}
.tomorrow{
	position: absolute;
	left:13rpx;
	top:1034rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 24rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	z-index: 900;
}
.tomorrowbubble{
		position: absolute;
		left:570rpx;
		top:1147rpx;
		background : #1485EE;
		background : rgba(20, 133, 238, 1);
		width : 16px;
		height : 16px;
}
.tomorrowmorebutton{
	position: absolute;
	left:620rpx;
	top:1147rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : normal;
	font-size : 1rpx;
	letter-spacing : 0.5rpx;
	color : #717171;
	color : rgb(109, 109, 109);
}
.tomorrowmorebutton:hover{
	color:rgb(0, 85, 255);
}
.tomorrowinfo1{
	position: absolute;
	left: 82px;
	top: 500px;
	font-size: 24rpx;
}
.tomorrowinfo2{
	position: absolute;
	left: 82px;
	top: 540px;
	font-size: 24rpx;
}
.tomorrowinfo1:hover{
	color:rgb(0, 85, 255);
}
.tomorrowinfo2:hover{
	color:rgb(0, 85, 255);
}
.future{
	position: absolute;
	left:17rpx;
	top:1290rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 28rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	z-index: 900;
}
.futurebubble{
	position: absolute;
	left:570rpx;
	top:1395rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 16px;
	height : 16px;
}
.futuremorebutton{
	position: absolute;
	left:620rpx;
	top:1395rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : normal;
	font-size : 1rpx;
	letter-spacing : 0.5rpx;
	color : #717171;
	color : rgb(109, 109, 109);
}
.futuremorebutton:hover{
	color:rgb(0, 85, 255);
}
.futureinfo1{
	position: absolute;
	left: 72px;
	top: 625px;
	font-size: 24rpx;
}
.futureinfo2{
	position: absolute;
	left: 72px;
	top: 660px;
	font-size: 24rpx;
}
.futureinfo1:hover{
	color:rgb(0, 85, 255);
}
.futureinfo2:hover{
	color:rgb(0, 85, 255);
}
.todaylogo{
	position: absolute;
	left:12rpx;
	top:792rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 108rpx;
	height : 56rpx;
	border-radius : 6rpx 4rpx 6rpx 6rpx;
	-moz-border-radius : 6rpx 4rpx 6rpx 6rpx;
	-webkit-border-radius : 6rpx 4rpx 6rpx 6rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 28rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.tomorrowlogo{
	position: absolute;
	left:12rpx;
	top:1028rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 150rpx;
	height : 56rpx;
	border-radius : 6rpx 4rpx 6rpx 6rpx;
	-moz-border-radius : 6rpx 4rpx 6rpx 6rpx;
	-webkit-border-radius : 6rpx 4rpx 6rpx 6rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 26rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.futurelogo{
	position: absolute;
	left:12rpx;
	top:1284rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 114rpx;
	height : 56rpx;
	border-radius : 6rpx 4rpx;
	-moz-border-radius : 6rpx 4rpx;
	-webkit-border-radius : 6rpx 4rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 28rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.todaytodo{
	position: absolute;
	left:102rpx;
	top:742rpx;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 626rpx;
	height : 204rpx;
	border-radius : 10rpx;
	-moz-border-radius : 10rpx;
	-webkit-border-radius : 10rpx;
	box-shadow : 0rpx 0rpx 10rpx rgba(0, 0, 0, 0.14);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') ;
	z-index: -1;
}
.tomorrowtodo{
	position: absolute;
	left:102rpx;
	top:984rpx;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 626rpx;
	height : 204rpx;
	border-radius : 10rpx;
	-moz-border-radius : 10rpx;
	-webkit-border-radius : 10rpx;
	box-shadow : 0rpx 0rpx 10rpx rgba(0, 0, 0, 0.14);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') ;
	z-index: -1;
}
.futuretodo{
	position: absolute;
	left:102rpx;
	top:1234rpx;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 626rpx;
	height : 204rpx;
	border-radius : 10rpx;
	-moz-border-radius : 10rpx;
	-webkit-border-radius : 10rpx;
	box-shadow : 0rpx 0rpx 10rpx rgba(0, 0, 0, 0.14);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') ;
	z-index: -1;
}
.updatebutton:hover{
	background: #F1F1F1;
}
.calendarbutton:hover{
	background: #F1F1F1;
}
.ceshi{
	position: fixed;
	top: 50px;
	left: 200px;
}
.clock{
	position: absolute;
	top: 30px;
	left: 200px;
	font-size: 20rpx;
}